<% semantic_form_for @help_ticket do |f| %>
  <%= f.error_messages %>
  	<% f.inputs do%>
		<%=f.input :title, :label => "Subject", :input_html => {:size => 60}%>
		<%=f.input :description, :input_html => {:rows=>6}%>
		<li>
			<%=f.label :mood, "Your mood"%>
			<%=f.radio_button :mood, "struck_emot.gif"%>  <%=image_tag("struck_emot.gif")%>&nbsp;&nbsp;
			<%=f.radio_button :mood, "smile_emot.gif"%>  <%=image_tag("smile_emot.gif")%>&nbsp;&nbsp;
			<%=f.radio_button :mood, "confuse_emot.gif"%>  <%=image_tag("confuse_emot.gif")%>&nbsp;&nbsp;
			<%=f.radio_button :mood, "bad_emot.gif"%>  <%=image_tag("bad_emot.gif")%>&nbsp;&nbsp;
		</li>
	<% end %>
	<%f.buttons do %>
		<%=f.commit_button "Submit Ticket"%>
	<% end %>
<% end %>