<% title "Add Document" %>

<div class="left_page">
  <div class="lt_nav_container">
    <%= render :partial => "/clients/client_info" %>
  </div>
  <div class="lt_button_container">
	<% if params[:collaborator_id] == nil || params[:collaborator_id] == ""%>
		<div><%= link_to "Cancel", @job,:class => "button-left"  %></div>
	    <div><%= link_to("Section Editor", new_spec_sec_part_path(:job_id => @job.id, :specification_section_id => @specification_section.id),:class => "button-left") if params[:specification_section_id] != nil  %></div>
	<% else %>
		<div><%= link_to "Cancel", shared_job_path(:job_id => @job.id, :collaborator_id => params[:collaborator_id]), :class => 'button-left' %></div>
		<div><%= link_to("Section Editor", new_spec_sec_part_path(:job_id => @job.id, :specification_section_id => @specification_section.id, :collaborator_id => params[:collaborator_id]),:class => "button-left") if params[:specification_section_id] != nil  %></div>
	<% end %>
	</div>
</div>
<div class="right_page">
	<div>
			<h3><%=yield(:title)%></h3>
			<% 
			semantic_form_for @section_document, :html => { :multipart => true } do |f| %>
				<%=hidden_field_tag "collaborator_id", params[:collaborator_id]%>
		  		<%= f.error_messages %>
		    	<%f.inputs do%>
					<%=f.input :specification_section_id, :include_blank => false, :collection => SpecificationSection.specification_job_id_eq(params[:job_id]).collect {|p| ["#{p.section.number} - #{p.section.name}",p.id]}, :label => "Section"%>
					<%=f.input :title%>
					<%=f.input :note, :label => "Description", :input_html => {:rows => 6}%>
					<li>
						<%=f.label :doc, "File"%>
						<%=f.file_field :doc %><br/>
					</li>
					<li>
						<label>&nbsp;</label>PDF only and the maximum permitted file size is 1 MB
					</li>
				<% end %>
				
			  	<%f.buttons do %>
					<%=f.commit_button "Upload File"%>
				<% end %>
		<% end %>
	</div>
	<table id="jobs_table">
	  <tr>
		<th class="att-no">No</th>
	    <th class="att-name">Title</th>
		<th class="att-info">Description</th>
		<th class="att-author">Author</th>
		<th class="att-date">Date</th>
		<th class="att-rem"></th>
	  </tr>
	  <% 
		i=1
		for section_document in @section_documents %>
	    <tr class="<%= cycle("othertdalter", "") %>">
			<td><%=h i %></td>
	      	<td><%=h link_to section_document.title, download_document_path(:id => section_document.id), :target => "_blank" %></td>
			<td><%=h section_document.note %></td>	
			<td><%=h section_document.user.username%></td>
			<td><%=h section_document.created_at.strftime("%m-%d-%Y") %></td>
	      	<td><%= link_to image_tag("/images/minus.png"), section_document, :confirm => 'Are you sure?', :method => :delete if( section_document.user == current_user || section_document.user == as_user) %></td>
	 	</tr>
	  <% end %>
	</table>
</div>
