<b>Search Result (<%=@documents.count%>)</b>
<div>
    <table id="users_table">
      <tr>
		<th class="div-no">Job No</th>
		<th class="sec-no">Sec No</th>
		<th class="search_div">Document Title</th>
		<th  class="sub-date3">Date</th>
      </tr>
		<% if !@documents.blank? && params[:q].to_s != "" %>
      		<% for document in @documents %>
              <%specification_section = document.specification_section%>
              <%unless specification_section.blank?%>
        	<tr class="<%= cycle("othertdalter", "") %>">
				<td>
                  
                  <% job = specification_section.specification.job %>
                 <%=link_to job.number, job%>
                </td>
				<td>

                <%= link_to("#{specification_section.section.modif_number}" , new_spec_sec_part_path(:specification_section_id => specification_section.id, :job_id => job.id)) %>
                </td>
				<td>
                  <%= link_to("#{document.note}" , "/section_documents?job_id=#{job.id}&specification_section_id=#{specification_section.id}") %>
                </td>
                <td>
              <%= job.created_at.strftime("%m-%d-%Y") %>
            </td>
        	</tr>
            <%end%>
      		<% end %>
		<% else %>
			<tr>
		      	<td colspan="4">no results</td>
		    </tr>
		<% end %>
    </table>
</div>

