<br/>
<div class="white_bg shared">
	    <div class="w100">
			<div class="">
					<div class="part_container">				
						<% 
						a = 1
						for article in @specification_section.user_articles %>
<div style="float:left">
<div class="article"><b><%= link_to(article.name, "#", :class => "") %></b></div><div class="rem">&nbsp;</div>
</div>
							<% 
							b = 97
							for paragraph in article.user_paragraphs %>
                              <div style="float:left">
								<div class="space2-x"><%=b.chr.upcase%>.&nbsp;</div><div class="paragraph-x"><%= link_to(paragraph.paragraph, "#", :class => "") %>&nbsp;</div><div class="rem">&nbsp;</div>
                                </div>
								<% 
								c = 1
								for subparagraph in paragraph.user_subparagraphs %>
                                  <div style="float:left">
									<div class="space3-x"><%= link_to "#{c}.", "#" %></div><div class="subparagraph-x">&nbsp;<%=link_to subparagraph.description, "#"%></div><div class="rem">&nbsp;</div>
                                    </div>
								<% 
								c +=1
								end %>
							<% 
							b +=1
							end %>
						<% 
						a +=1
						end %>
						</div>
			</div>
		</div>
	</div>
	<div id="end-sec">
		[ End of Section ]
	</div>