<% title "Section Editor" %>
<div class="left_page">
  <div class="lt_nav_container">
    <%= render :partial => "/jobs/job_info" %>
  </div>
  <div class="lt_button_container">
	<div><%= (@specification_section.user == nil) ? (link_to "Table of Content", shared_job_path(:job_id => @job.id, :collaborator_id => params[:collaborator_id]),:class => "button-left") : (link_to "Table of Content", @job,:class => "button-left")  %></div>
 	<div><%= link_to "Print Section",new_spec_sec_part_path(@job, :format => "pdf", :job_id => @job.id, :specification_section_id => @specification_section.id ), :class => "button-left"%></div>
  </div>
</div>
<div class="right_page">
	<div>
	<h3 class="head"><%=@specification_section.specification.division.name%></h3>
	</div>
  	<div>
	<b class="shared"><%=@specification_section.section.modif_number%> - <%=@specification_section.section.name%></b>
	</div>
	<% if report_article_number(@specification_section.specification.division.short_number) != "00" %>
		<%= render :partial => 'shared_spec_edit' %>
	<% else %>
		<%= render :partial => 'shared_div_00' %>
	<% end %>
	<div>
		<b>All Attachments</b>
		<table id="clients_table">
		  <tr>
			<th class="sub-no">No</th>
			<th class="sub-info">Title</th>
			<th class="sub-author">Author</th>
			<th class="sub-date">Date</th>
		  </tr>
		  <% 
			i = 1
			for section_attachment in @section_attachments %>
		    <tr class="<%= cycle("othertdalter", "") %> shared">
		      	<td><%=h i%></td>
                <td><%=h link_to section_attachment.title, download_attachment_path(:id => section_attachment.id)  %></td>
				<td><%=h section_attachment.user.username %></td>
		      <td><%=h section_attachment.created_at.strftime("%m-%d-%Y") %></td>
		    </tr>
		  <% 
			i += 1
			end %>
		</table>
	</div>
</div>
