<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<h3>New evaluator request</h3>

<table>
	<tr>
		<td>From</td><td><%=@request.prefix%> <%=@request.first_name%> <%=@request.last_name%></td>
	</tr>
	<tr>
		<td>Title</td><td><%=@request.title%></td>
	</tr>
	<tr>
		<td>Firm</td><td><%=@request.firm%></td>
	</tr>
	<tr>
		<td>Address</td><td><%=@request.address%></td>
	</tr>
	<tr>
		<td>City</td><td><%=@request.city%></td>
	</tr>
	<tr>
		<td>State</td><td><%=@request.state%></td>
	</tr>
	<tr>
		<td>Zip</td><td><%=@request.zip%></td>
	</tr>
	<tr>
		<td>Phone</td><td><%=@request.phone%></td>
	</tr>
	<tr>
		<td>Fax</td><td><%=@request.fax%></td>
	</tr>
	<tr>
		<td>Email</td><td><%=@request.email%></td>
	</tr>
</table>


Please respond to this request to help our customer.

Thanks.
</body>
</html>

