<% title "Article Editor" %>
<div class="left_page">
	<div class="lt_nav_container">
	    	<%= render :partial => 'standard_sections/standard_information' %>
	  </div>
	<div class="lt_button_container">
		
	    <div>
			<%= link_to "Section Editor", standard_spec_edit_path(:id => params[:standard_section_id]), :class => "button-left" %>
		</div>
	</div>
</div>
<div class="right_page">
	<div><h3 class="head"><%=yield(:title)%></h3></div>
	<div class="label">Section:</div><%=@standard_user_article.standard_section.section.modif_number%> - <%=@standard_user_article.standard_section.section.name%><br />
	<div class="label">Article:</div><%=@standard_user_article.name%><br /><br />	
	<div>
		<h3>User defined paragraph</h3>
		<div>
			<% form_for @standard_user_paragraph do |f| %>
			<% if params[:standard_part_article_id] != nil %>
				<%=f.hidden_field :standard_part_article_id%>
			<% else %>
				<%=f.hidden_field :standard_user_article_id%>
			<% end %>
			<p>
				<%=f.label :paragraph %><br/>
				<%=f.text_area :paragraph, :rows => 6, :cols => 93, :style=> "width:auto" %><br/><br/><%=f.submit "Save Changes"%>
			</p>
			<% end %>
		</div>
	</div>
	
	<b>Already Added</b>
	<table id="jobs_table">
		<tr>
			<th class="part-check" style="width:25px;">No</th>
			<th class="part-name"   style="width:465px;">
				Paragraph
			</th>
			<th class="sub-author" style="width:110px;">Author</th>
			<th class="sub-date" style="width:80px;">Date</th>
            <th class="sub-date"  style="width:15px;"></th>
		</tr>
		<% b = 97%>
		<% for paragraph in @standard_user_article.standard_user_paragraphs %>
			 <tr class="<%= cycle("othertdalter", "") %>">
				<td><%=b.chr.upcase%></td>
				<td><%=h link_to paragraph.paragraph, "/standard_user_paragraphs/#{paragraph.id}/edit/?standard_section_id=#{params[:standard_section_id]}&standard_user_article_id=#{params[:standard_user_article_id]}"%></td>
				<td><%=h paragraph.user.username%></td>
				<td><%=h paragraph.created_at.strftime("%m-%d-%Y")%></td>
                 <td><%= link_to image_tag('/images/minus.png'), paragraph, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		<% 
		b += 1
		end %>
	</table>
	<br/>
</div>

