<div class="list_holder">
  <div class="list_number"><%= h report_article_number(specification.division.short_number) %></div>
  <div class="list_name"><%= link_to specification.division.name, add_sections_path(:job_id => @job, :specification_id => specification.id, :collaborator_id => @collaborator)%></div>
  <div class="list_hold">
    <%  specification.specification_sections.each do |spec_sec| %>
      <div class='<%=( spec_sec.user == current_user) ?  "list_container" : "list_container shared" %>'>
        <div class="serial"><%=  spec_sec.section.modif_number %></div>
        <div class="name" style="width:375px"><%= (spec_sec.user != nil) ? (link_to(spec_sec.section.name, new_spec_sec_part_path(:specification_section_id => spec_sec, :job_id => @job, :job_id => @job, :collaborator_id => @collaborator), :class=> "specSectionName")) : link_to(spec_sec.section.name, shared_section_editor_path(:specification_section_id => spec_sec, :job_id => @job, :collaborator_id => @collaborator), :class=> "specSectionName") %></div>
         <div class="date">
           <%unless spec_sec.owner_id.blank?%>
            <%= User.find(spec_sec.owner_id).first_name %>
            <%else%>
            &nbsp;
            <%end%>
</div>
        <div class="date"><%=  spec_sec.date_update %></div>
        <div class="icon"><%= link_to image_tag("/images/minus.png"), destroy_share_path(:id => spec_sec.id, :collaborator_id => @collaborator.id), :confirm => 'Are you sure want to remove this section?' if spec_sec.user == current_user %></div>
      </div>
    <%end%>
  </div>
</div>