<% title "Division Editor"%>
  <div class="left_page">
    <div class="lt_nav_container">
      <%#= render :partial => "/jobs/job_info" %>
		<%= render :partial => "/clients/client_info" %>
    </div>
    <div class="lt_button_container">
            <div><%= link_to "Section Master",add_from_master_path(:job_id => @job.id, :specification_id => @specification.id), :class => 'button-left' %></div>
      		<div><%= link_to "Cancel", @job, :class => 'button-left' %></div>


    </div>
  </div>
  <div class="right_page">
         <div>
        	<h3 class="head">Add Sections</h3>
      	</div>
      	<div>
        	<h3 class="head"><%=yield(:title)%></h3>
      	</div>
		<div>
		<b><%=@specification.division.modif_number%> - <%=@specification.division.name%></b>
		<div>
			<table id="clients_table">
				<tr>
                  <th class="sub-no">No</th>
					<th class="sec-no">Sec No.</th>
					<th class="sec-name">Sec Name</th>
					<th class="sec-info">Description</th>
					<th class="sub-no"></th>
				</tr>
                <%index = 1%>
				<% for specification_section in @have_specification_sections %>
					<tr class="<%= cycle("othertdalter", "") %>">
                      <td>
                        <%= index %>
                        <%index += 1%>
                      </td>
						<td><b><%= specification_section.section.modif_number%></b></td>
						<td><%= specification_section.section.name%></td>
						<td><%= specification_section.section.description%></td>
						<td><%= link_to image_tag("/images/minus.png"), specification_section, :confirm => 'Are you sure want to remove this section?', :method => :delete %></td>
					</tr>
		        <% end %>
			</table>
		</div>
		<br/>
		</div>
		<% form_for @specification_section, :url => create_multiple_sections_path, :html => {:class => "form"} do |f| %>
		<div><%#= f.submit "Save Changes" %></div>
      <div>
		<h3>Available Sections from Job Template</h3>
        <!-- <div><%#= check_box_tag('check_all', 'check_all', false,  :onClick => "toggleCheckBoxes('new_specification_section')")%> All</div> -->
        <%= f.hidden_field :specification_id %>
		<table id="jobs_table">
			<tr>
				<th class="sub-no"></th>
                <th class="sec-no">Sec No.</th>
				<th class="sec-name">Sec Name</th>
				<th class="sec-info">Description</th>
				<th class="sub-no"></th>
			</tr>
			<% for section in @sections %>
			<tr class="<%= cycle("othertdalter", "") %>">
	          		<% fields_for "sections[]", section do |sec| %>
                        <td><%= sec.check_box :id, :checked => false %> </td>
                        <td><b><%= section.modif_number%></b></td>
						<td><%= section.name%></td>
						<td><%= section.description%></td>
						<td></td>
					<% end %>
				</tr>
	        <% end %>
		</table>
      </div>
	<br/>
	<div><%= f.submit "Add Section" %></div>
    <% end %>
</div>