<% title "Client Information Editor" %>
<% semantic_form_for @client  do |f| %>
<div class="left_page">
  <div class="lt_nav_container">
  	<%= render :partial => 'clients/client_info' %>
  </div>
	<div class="lt_button_container">
		<div><%= link_to "Cancel", client_path(@client), :class => "button-left"%></div>
		<div><%= link_to "Archive Client", client_archive_path(@client.id), :class => "button-left", :confirm => "Are you sure you want to Archive this client?" %></div>

	</div>
</div>
<div class="right_page">

<div>
	<h3><%=yield(:title)%></h3>
	<% f.inputs do %>
		<%=f.input :name, :label => "Client Name" %>
		<% if @client.new_record? %>
		<li>
			<%=label_tag "contact_name", "Contact name*"%>
			<%= text_field_tag "contact_name", "", :size => 50 %>
		</li>
		<% end %>
		<%=f.input :physical_address, :input_html => {:rows => 3}, :label => "Location" %>
		<%=f.input :postal_address, :input_html => {:rows => 3} %>
		<%=f.input :phone %>
		<%=f.input :fax %>
		<%=f.input :website %>
		<%=f.input :status, :as => :select, :collection => ["Active", "Inactive"], :include_blank => false %>
	<% end %>
	<%f.buttons do %>
		<%=f.commit_button "Save Changes"%>
	<% end %>
<% end %>
</div>
</div>