<% title "Settings" %>
<div class="left_page">
  <div class="lt_nav_container"></div>
  <div class="lt_button_container">
    <div><%= link_to "Back", "/divisions", :class => "button-left" %></div>
    <div><%= link_to "New Section", "/sections/new?div_id=#{params[:id]}", :class => "button-left" %></div>
  </div>

</div>
<div class="right_page">
 <h3>Section Master List</h3>
<div class="grid_12">
		<table id="jobs_table">
		  <tr>
            <th></th>
		    <th style="width:100px">Number</th>
		    <th>Name</th>
            <th style="width:15px"></th>
			<th style="width:10px"></th>
		  </tr>
          <%main_count = 0%>
		  <% for section in @sections %>
             <% first_number = section.number.split('.') %>
              <% if first_number[0][3..5] == "000" %>
                <%main_count += 1%>
                <%is_master = true%>
                <%else%>
               <% is_master = false %>
                <%end%>
            <%if is_master%>
              <tr class="<%= cycle("othertdalter", "") %>">
              <td>
                <a href="javascript:toggle_tr('<%=main_count%>');">
                  <img src="/images/plus.jpg" height="10px" width="10px" id="img_<%=main_count%>"/>
                </a>
              </td>
		      <td><b><%=h section.modif_number %></b></td>
		      <td><b><%=h section.name %></b></td>
              <td><%= link_to (image_tag "/images/g-icon-editor.png", :size => "15x15"), :action => "edit", :id => section.id, :div_id => params[:id] %></td>
             <td><%= link_to image_tag('/images/minus.png'), "sections/destroy/#{section.id}?div_id=#{params[:id]}", :confirm => 'Are you sure?' %></td>
		     </tr>
            <%else%>
            <tr class="<%= cycle("othertdalter", "") %>" style="display:none" name="tr_<%=main_count%>">
              <td></td>
		      <td><%=h section.modif_number %></td>
		      <td><%=h section.name %></td>
              <td><%= link_to (image_tag "/images/g-icon-editor.png", :size => "15x15"), :action => "edit", :id => section.id, :div_id => params[:id] %></td>
              <td><%= link_to image_tag('/images/minus.png'), "sections/destroy/#{section.id}?div_id=#{params[:id]}", :confirm => 'Are you sure?' %></td>
		     </tr>
            <%end%>
		    
		  <% end %>
		</table>
	<script>
      function toggle_tr(count)
      {
       trs = document.getElementsByTagName('tr')
        var checkboxOptions = [];
        for(var i=0;i<trs.length;i++)
        {
          if(trs.item(i).getAttribute( 'name' ) == 'tr_' +count )
          {
            checkboxOptions.push( trs.item(i) );
          }
        }
         img = document.getElementById('img_' + count)
        for(i=0; i< checkboxOptions.length; i++)
        {

          if(checkboxOptions[i].style.display == "none")
          {
            checkboxOptions[i].style.display = "";
            img.src = "/images/minus.jpg"
          }
          else
          {
              checkboxOptions[i].style.display = "none";
              img.src = "/images/plus.jpg"
          }
        }
          
      }
    </script>
		<div class="grid_12 clearfix">&nbsp;</div>
</div>
</div>