<div class="left_page">
  <div class="lt_nav_container">
  	<%= render :partial => 'help_tickets/apps_info' %>
  </div>
	<div class="lt_button_container">
		<%= render :partial => 'help_tickets/support_info' %>
	  </div>
</div>
<div class="right_page">
	<h3>Evaluator Information</h3>
	<% semantic_form_for @evaluator_request, :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
		<% f.inputs do %>
	<li>
	  <div class="label">Name</div>
	  <div class="value"><%=h @evaluator_request.prefix %> <%=h @evaluator_request.first_name %> <%=h @evaluator_request.middle_name %> <%=h @evaluator_request.last_name %></div>
	</li>
	<li>
	  <div class="label">CSI member#</div>
	  <div class="value"><%=h @evaluator_request.csi_member %></div>
	</li>
	<li>
	  <div class="label">Title</div>
	  <div class="value"><%=h @evaluator_request.title %></div>
	</li>
	<li>
	  <div class="label">Company</div>
	  <div class="value"><%=h @evaluator_request.firm %></div>
	</li>
	<li>
	  <div class="label">Address</div>
	  <div class="value"><%=h @evaluator_request.address %></div>
	</li>
	<li>
	  <div class="label">City</div>
	  <div class="value"><%=h @evaluator_request.city %></div>
	</li>
	<li>
	  <div class="label">State</div>
	  <div class="value"><%=h @evaluator_request.state %></div>
	</li>
	<li>
	  <div class="label">Zip</div>
	  <div class="value"><%=h @evaluator_request.zip %></div>
	</li>
	<li>
	  <div class="label">Phone</div>
	  <div class="value"><%=h @evaluator_request.phone %></div>
	</li>
	<li>
	  <div class="label">Email</div>
	  <div class="value"><%=h @evaluator_request.email %></div>
	</li>
	<li>
	  <div class="label">Date</div>
		<div class="value"><%=h @evaluator_request.created_at.strftime("%m-%d-%Y") %></div>
	</li>
			<%#=f.input :status, :as => :radio, :collection => ["deny", "pending", "approved"]%>
			<li>
				<%=f.label :status%>
				<%=f.radio_button :status, "received"%>  Received&nbsp;&nbsp;
				<%=f.radio_button :status, "deny"%>  Deny&nbsp;&nbsp;
				<%=f.radio_button :status, "approved"%>  Approved&nbsp;&nbsp;
			</li>
			<%=f.input :reason, :input_html => {:rows => 6}%>
		<% end%>
	  	<%f.buttons do %>
			<%=f.commit_button "Update Request"%>
		<% end %>
	<% end %>
</div>
<% javascript 'evaluator_reason' %>