<% title "New Job Template" %>
<div class="left_page">
  <div class="lt_nav_container">
  	<div>
		<%= render :partial => "/clients/client_info" %>
	</div>
  </div>
	<div class="lt_button_container">
		<div><%#= link_to "Divisions", add_template_multiple_divisions_path(:template_job_id => @template_job), :class => "button-left" %></div>
		<div><%#= link_to "Divisions", add_template_multiple_divisions_path(:template_job_id => @template_job), :class => "button-left" %></div>
		<div>
	      <%#= link_to "Templates", template_jobs_path, :class => 'button-left' %>
	  </div>
		<div><%= link_to "Cancel", @job,:class => "button-left"  %></div>
	</div>
</div>
<div class="right_page">
	<% semantic_form_for @template_job, :html => {:class => "form"} do |f| %>
		<div>
			<%= f.error_messages %>
			<%= f.hidden_field :job_id %>
		</div>
		<div>
				<h3><%=yield(:title)%></h3>
				<% f.inputs do%>
					<%=f.input :name, :label => "Job Template Name"%>
					<%=f.input :description, :input_html => { :rows => 6}%>
				<% end %>
				<%f.buttons do %>
					<%=f.commit_button "Save Template"%>
				<% end %>
		</div>
	<% end %>
</div>