<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<link rel="shortcut icon" href="/images/favicon.ico" />
    <title><%= h(yield(:title) || "Untitled") %></title>
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'login' %>
    <%= yield(:head) %>
  </head>
<body class="login">

<div id="login">
<%=yield%>

</div>
<script type="text/javascript">
	try{document.getElementById('user_login').focus();}catch(e){}
</script>
  </body>
</html>
