<% title "Archived Team Members"%>
<div class="left_page">
  <div class="lt_nav_container">
  	<%= render :partial => 'subscription_info' %>
  </div>
  <div class="lt_button_container">
	<%= render :partial => 'admin_menu' %>
  </div>
</div>
<div class="right_page">
  <div>
	<h3>Archived Team Members</h3>
    <table id="users_table">
      <tr>
        <th class="member-name">Member Name</th>
		<th class="member-position">Position</th>
		<th class="member-email">Email</th>
		<th class="member-permission">Permission</th>
		<th class="sub-rem2"></th>
      </tr>
      <% for staff in @staffs %>
        <% if (staff.has_role?(:admin) || staff.has_role?(:manager) || staff.has_role?(:team)) %>
        <tr class="<%= cycle("othertdalter", "") %>">
          	<td><%=staff.first_name%></td>
			<td><%=staff.position%></td>
			<td><%=staff.email%></td>
            <% if staff.has_role?(:owner) %>
				<td>Owner</td>
			<% else %>
				<td>Team</td>
			<%end%>
			<td>

                <%= link_to "Restore", "/members/restore/#{staff.id}", :confirm => 'Are you sure want to resore this member?' if  !(staff.has_role?(:owner))%>
            </td>
        </tr>
		<% end %>
      <% end %>
    </table>
	<br/>
	
  </div>
</div>