<% title "Change Password" %>
<div class="left_page">
  	<div class="lt_nav_container">
	  	<%= render :partial => 'member_info' %>

	  </div>
	  <div class="lt_button_container">
	    <%#= render :partial => 'member_menu' %>
		<div><%= link_to "Cancel", profile_path, :class => 'button-left' %></div>
	  </div>
</div>
<div class="right_page">
	<div>
		<h3><%=yield(:title)%></h3>
	</div>
	<div>
	<% semantic_form_for @user, :url => update_password_path, :method => :put do |f| %>
		<%f.inputs do  %>
			<%=f.input :username, :input_html => {:disabled => true}%>
			<%=f.input :password, :label => "New Password",  :input_html =>{:size => 50}%>
			<%=f.input :password_confirmation, :label => "Confirm Password", :size => 50%>
		<% end%>
		<%f.buttons do %>
			<%=f.commit_button "Save Changes"%>
		<% end %>
	<% end %>
	</div>
</div>